<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSvRmbWv0FEUIOT_BIdOgnXHtNmc1cvvWh8Q&s"
      alt=""
      srcset=""
    />
  </div>

  <div class="big-card__tittle">
    <h1><a href="">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        tellus ipsum, dictum in nibh et, porttitor malesuada dui.
      </a>
    </p>
  </div>
</div>
